:host {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 175px);

        justify-content: center;
    }

    p, h2, div {
        text-align: center;
    }


    button {
      align-self: center;
      padding:20px 32px;
      border:1px solid black;
      border-radius:2px;
      box-sizing: border-box;
      font-weight:300;
      font-size: large;
      text-align:center;
      transition: all 0.2s;
      }

      button:hover {
        color: white;
        background-color: black;
      }

}
