
<h2>Memory</h2>

<div *ngIf="!gameActive">
  <p>Welcome to Memory!</p>
  <p>Press the button below to start the game.</p>
  <div>
    <p>Set your preferred turn timer
    <select [(ngModel)]="gameTimer">
      <option selected [value]="5000">5 s</option>
      <option selected [value]="2500">2.5 s</option>
      <option selected [value]="1000">1 s</option>
    </select>
  </p>

  </div>
  <div>
    <button class="button" (click)="setBoard()">Play!</button>
  </div>
</div>

<div *ngIf="gameActive">
  <p>
    Tap the cards to reveal the duplicates!
  </p>
  <div  class="grid">
    <app-card *ngFor="let item of deck" [card]="item" (click)="cardClicked(item)"></app-card>
  </div>
</div>
